providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/home/arete/GitHub/education/test"
          source: "/home/arete/GitHub/education/test/.build-tools.cson"
          name: "rebuild and run"
          command: "make clean && make -j8 && ./test"
          wd: "."
          env: {}
          modifier:
            shell:
              command: "bash -c"
            save_all: {}
          stdout:
            highlighting: "ht"
          stderr:
            highlighting: "ht"
          output:
            console:
              close_success: false
              queue_in_buffer: false
              stdin: false
          version: 1
        }
        {
          project: "/home/arete/GitHub/education/test"
          source: "/home/arete/GitHub/education/test/.build-tools.cson"
          name: "make"
          command: "make -j8"
          wd: "."
          env: {}
          modifier:
            shell:
              command: "bash -c"
            save_all: {}
          stdout:
            highlighting: "ht"
          stderr:
            highlighting: "ht"
          output:
            console:
              close_success: true
              queue_in_buffer: false
            linter:
              no_trace: false
          version: 1
        }
        {
          project: "/home/arete/GitHub/education/test"
          source: "/home/arete/GitHub/education/test/.build-tools.cson"
          name: "clean"
          command: "make clean"
          wd: "."
          env: {}
          modifier: {}
          stdout:
            highlighting: "ht"
          stderr:
            highlighting: "ht"
          output:
            console:
              close_success: true
              queue_in_buffer: false
          version: 1
        }
        {
          project: "/home/arete/GitHub/education/test"
          source: "/home/arete/GitHub/education/test/.build-tools.cson"
          name: "run"
          command: "./test"
          wd: "."
          env: {}
          modifier:
            shell:
              command: "bash -c"
          stdout:
            highlighting: "nh"
          stderr:
            highlighting: "ht"
          output:
            console:
              close_success: true
              queue_in_buffer: true
          version: 1
        }
      ]
  }
]
